<template>
  <div :class="{'u-spacing-mb-l': config.chartOptions.legend != false}">
    <div v-if="config.chartOptions.type === 'line'" class="c3-line-chart"></div>
    <div v-if="config.chartOptions.type === 'donut'" class="c3-donut-chart"></div>
  </div>
</template>

<script>
import chartMixin from '@/utils/mixins/boomerangChartMixin'
import c3 from 'c3'
import Vue from 'vue'
export default {
  mixins: [chartMixin],
  mounted () {
    c3.generate(this.chartConfig)
  },
  watch: {
    data: function (newData) {
      console.log(newData)
      if (newData) {
        if (newData.constructor === Object) {
          if (newData.legends) {
            this.customLegends = newData.legends
          }
          if (newData.xs) {
            delete this.chartConfig.data.x
            this.chartConfig.data.xs = newData.xs
          }
          if (newData.groups) {
            this.chartConfig.data.groups = newData.groups
          }
          if (newData.colors) {
            this.chartConfig.data.colors = newData.colors
          }
          if (newData.axes) {
            this.chartConfig.data.axes = newData.axes
          }
          if (newData.types) {
            this.chartConfig.data.types = newData.types
          }
          // Bar Configuration, To change width of the bar.
          if (newData.bar) {
            this.chartConfig.bar = newData.bar
          }
          if (newData.axis_format && newData.axis_format.y) {
            this.chartConfig.axis.y = Object.assign(
              this.chartConfig.axis.y,
              newData.axis_format.y
            )
            this.chartConfig.axis.y.tick.format = value => {
              return Vue.options.filters.num_format(
                value,
                newData.axis_format.y.pre,
                newData.axis_format.y.suff,
                newData.axis_format.y.min,
                newData.axis_format.y.roundoff
              )
            }
          }
          if (newData.axis_format && newData.axis_format.y2) {
            this.chartConfig.axis.y2 = Object.assign(
              this.chartConfig.axis.y2,
              newData.axis_format.y2
            )
            this.chartConfig.axis.y2.tick.format = value => {
              return Vue.options.filters.num_format(
                value,
                newData.axis_format.y2.pre,
                newData.axis_format.y2.suff,
                newData.axis_format.y2.min,
                newData.axis_format.y2.roundoff
              )
            }
          }
          this.chartConfig.data.columns = newData.data || []
          this.chartConfig.data.classes = newData.classes || []
          c3.generate(this.chartConfig)
        } else {
          this.chartConfig.data.columns = newData || []
          c3.generate(this.chartConfig)
        }
      }
    }
  }
}
</script>
