<template>
  <div class="u-width-100">
    <div
      class="u-display-flex u-flex-justify-content-space-between u-flex-align-items-flex-start u-flex-wrap-yes"
    >
      <div class="u-display-flex u-flex-wrap-yes">
        <div
          v-on:click.stop="selectNewMetric(index, val)"
          :val="val"
          :class="{'disabled': !computedSelectedMetric[val.key]}"
          :key="index"
          v-for="(val,index) in localMetricDisplayList"
          class="metric-card-hover-trigger"
        >
          <div
            class="custom-chart-events-legend u-display-inline-flex u-flex-direction-column u-position-relative u-cursor-pointer workbench-hover-card"
          >
            <!-- <div class="cross-button-holder" v-if="index > minimumMetric - 1">
                             <div class="cross-icon" v-on:click.stop="deleteMetric(index)">
                                    <rb-icon class="rb-icon--xx-small u-cursor-pointer u-color-grey-lighter" :icon="'cross'" ></rb-icon>
                             </div>
            </div>-->
            <div class="u-spacing-p-xs">
              <div class="u-flex-complete-center">
                <rb-icon
                  class="rb-icon--x-medium u-spacing-mr-s"
                  :icon="val.icon"
                  :class="val.color"
                ></rb-icon>
                <rb-select
                  :width="'240px'"
                  v-if="val"
                  class="u-spacing-mr-s"
                  :context="[index]"
                  :sendDetails="true"
                  :onClose="metricSelected"
                  :options="metricsList"
                  :className="'campaigns-select'"
                >
                  <div
                    class="u-display-flex u-flex-align-items-center u-cursor-pointer"
                    slot="trigger"
                  >
                    <div
                      class="u-display-flex u-flex-align-items-center shareCompBrandsSelectTrigger"
                    >
                      <span class="u-font-size-5">{{ val.key }}</span>
                      <rb-icon
                        class="rb-icon--small u-spacing-ml-xs u-color-grey-lighter"
                        :icon="'caret-down'"
                      ></rb-icon>
                    </div>
                  </div>
                  <template scope="option" slot="item">
                    <div class="u-display-flex u-flex-align-items-center">
                      <div
                        class="u-overflow-hidden u-flex-direction-row u-display-flex u-flex-align-items-center u-width-100 u-spacing-pt-s u-spacing-pb-s u-spacing-pr-m u-spacing-pl-m u-flex-justify-content-space-between"
                      >
                        <p
                          class="u-color-grey-base u-text-overflow-ellipsis u-font-size-5 u-text-case-title"
                        >{{option.title}}</p>
                      </div>
                    </div>
                  </template>
                </rb-select>
              </div>
            </div>
          </div>
        </div>
        <div>
          <rb-select
            :width="'240px'"
            class="u-spacing-mr-m"
            :sendDetails="true"
            :onClose="addNewMetric"
            :options="metricsList"
            :className="'campaigns-select u-height-100 select-trigger-height-100'"
          >
            <div
              class="u-display-flex u-flex-align-items-center u-cursor-pointer u-height-100"
              slot="trigger"
            >
              <div
                class="u-display-flex u-flex-align-items-center shareCompBrandsSelectTrigger u-height-100"
              >
                <div class="metric-card-hover-trigger u-height-100">
                  <div
                    class="custom-chart-events-legend u-display-inline-flex u-flex-direction-column u-position-relative u-cursor-pointer workbench-hover-card u-height-100"
                  >
                    <div
                      class="u-spacing-p-xs u-display-flex u-flex-align-items-center u-flex-justify-content-center u-height-100"
                    >
                      <span class="u-display-flex u-font-size-5 u-color-grey-lighter">
                        <rb-icon
                          class="rb-icon--small u-cursor-pointer u-color-grey-lighter u-spacing-mr-xs"
                          :icon="'add-circle-fill'"
                        ></rb-icon>Add event
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <template scope="option" slot="item">
              <div class="u-display-flex u-flex-align-items-center">
                <div
                  class="u-overflow-hidden u-flex-direction-row u-display-flex u-flex-align-items-center u-width-100 u-spacing-pt-s u-spacing-pb-s u-spacing-pr-m u-spacing-pl-m u-flex-justify-content-space-between"
                >
                  <p
                    class="u-color-grey-base u-text-overflow-ellipsis u-font-size-5 u-text-case-title"
                  >{{option.title}}</p>
                </div>
              </div>
            </template>
          </rb-select>
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="scss">
@import "../../assets/style.css";
.u-font-size-5 {
  font-size: 1.4rem;
}
.metric-card-hover-trigger {
  &:hover {
    .cross-icon {
      visibility: visible !important;
    }
  }
}
.cross-button-holder {
  display: flex;
  justify-content: flex-end;
  .cross-icon {
    visibility: hidden;
    @extend .u-spacing-pr-s !optional;
    @extend .u-spacing-pt-s !optional;
  }
}
</style>
<script>
// import chart from './chart.vue'
import widgetsUtil from '@/components/widgetMixin'
// import metric from '@/components/basic/metric'
export default {
  components: {
    // chart,
    // metric
  },
  props: {
    metricDisplayList: {
      type: Array,
      default: () => []
    },
    metricsList: {
      type: Array,
      default: () => []
    },
    defaultSelectMetric: {
      type: Array,
      default: () => []
    },
    selectedMetricLimit: {
      type: Number,
      default: 2
    },
    metricConfig: {
      type: Object,
      default: () => {}
    },
    metricData: {
      type: Object,
      default: () => {}
    },
    minimumMetric: {
      type: Number,
      default: 2
    }
  },
  data () {
    return {
      metricsSelectedIndex: [0, 1],
      chartWkbenchAxes: {},
      selectedMetric: [],
      localMetricDisplayList: []
    }
  },
  created () {
    this.selectedMetric = this.defaultSelectMetric
    this.localMetricDisplayList = JSON.parse(
      JSON.stringify(this.metricDisplayList)
    )
    this.emitEventOut()
  },
  watch: {
    defaultSelectMetric (newValue) {
      this.selectedMetric = newValue
    },
    metricDisplayList (newValue) {
      this.localMetricDisplayList = newValue
    }
  },
  computed: {
    computedSelectedMetric () {
      let returnData = {}
      for (let i = 0; i < this.selectedMetric.length; i++) {
        returnData[this.selectedMetric[i].key] = this.selectedMetric[i]
      }
      return returnData
    },
    metricColors () {
      let _colors = {}
      var colors = this.getColorPattern
      for (let i = 0; i < this.localMetricDisplayList.length; i++) {
        _colors[this.localMetricDisplayList[i].key] = colors[i]
      }
      return _colors
    }
  },
  methods: {
    // On Select of New Metric
    selectNewMetric (context, val) {
      let valueIndex = this.selectedMetric.findIndex(item => {
        return item.key === val.key
      })
      if (valueIndex === -1) {
        this.smartPushQueue(val)
        this.chartWkbenchAxes[this.localMetricDisplayList[context].key] =
          context % 2 === 0 ? 'y' : 'y2'
      } else {
        this.queueDelete(val.key)
      }
    },
    // On Select of new Metric of a card through drop down
    metricSelected (context, val) {
      let selectedIndex = val[0].selectedIndex
      if (
        this.selectedMetric.indexOf(item => {
          return item.key === this.metricsList[selectedIndex].key
        }) === -1
      ) {
        this.localMetricDisplayList[context[0]] =
          this.metricsList && this.metricsList[selectedIndex]
        this.chartWkbenchAxes[this.metricsList[selectedIndex].key] =
          context % 2 === 0 ? 'y' : 'y2'
        this.localMetricDisplayList = [...this.localMetricDisplayList]
      }
      this.queueReplace(
        this.localMetricDisplayList[context[0]],
        this.metricsList[selectedIndex]
      )
    },
    // Pushing into the queue and queue is full we removed the last element (First in last out idea)
    smartPushQueue (value) {
      if (this.selectedMetric.length >= this.selectedMetricLimit) {
        this.selectedMetric.shift()
      }
      this.selectedMetric.push(value)
      this.emitEventOut()
    },
    // Searching for the item in the queue and replacing it with newValue
    queueReplace (oldValue, newValue) {
      let indexLocation = this.selectedMetric.indexOf(item => {
        return item.key === oldValue.key
      })
      if (indexLocation === -1) {
        this.smartPushQueue(newValue)
      } else {
        this.selectedMetric[indexLocation] = newValue
      }
      this.emitEventOut()
    },
    // Removing the element from the queue if found in the array
    queueDelete (value) {
      debugger
      let valueIndex = this.selectedMetric.findIndex(item => {
        console.log(item.key, value)
        return item.key === value
      })
      if (valueIndex !== -1) {
        this.selectedMetric.splice(valueIndex, 1)
      }
      this.emitEventOut()
    },
    // Just emitting the event
    emitEventOut () {
      let obj = {
        selectedMetric: this.selectedMetric,
        metricColors: this.metricColors
      }
      this.$emit('selectedList', obj)
    },
    // Adding new metric and pushing into the queue
    addNewMetric (context, val) {
      let selectedIndex = val[0].selectedIndex
      this.localMetricDisplayList.push(this.metricsList[selectedIndex])
      this.smartPushQueue(this.metricsList[selectedIndex])
    },
    // Deleting the metric and deleting from the queue
    deleteMetric (index) {
      this.queueDelete(this.localMetricDisplayList[index])
      this.localMetricDisplayList.splice(index, 1)
    }
  },
  mixins: [widgetsUtil]
}
</script>
