<template>
  <div class="u-width-100">
    <chart-legends
      :metricDisplayList="metricsShown"
      :metricsList="metricsList"
      :defaultSelectMetric="defaultSelectMetric"
      :metricConfig="metricConfig"
      :metricData="metricData"
      v-on:selectedList="metricChanged"
    ></chart-legends>
    <chart-event-legends
      :metricDisplayList="eventsShown"
      :metricsList="eventsList"
      :defaultSelectMetric="defaultSelectEvents"
      :selectedMetricLimit="3"
      v-on:selectedList="eventsChanged"
      class="u-spacing-mt-l"
      v-if="hasChartEvents"
    ></chart-event-legends>
    <chart
      style="height:500px"
      id="workbenchCampaignsChart"
      class="c3-large u-flex-1 u-spacing-mt-l"
      :config="chartConfig"
      :data="formattedChartData"
    ></chart>
  </div>
</template>
<script>
// import Vue from 'vue';
import chart from './chart.vue'
import chartLegends from './chart-legends.vue'
import chartEventLegends from './chart-events-legends'
import widgetsUtil from '@/components/widgetMixin'
export default {
  components: {
    chart,
    chartLegends,
    chartEventLegends
  },
  props: {
    ignoreList: {
      type: Array,
      default: () => []
    },
    metricConfig: {
      type: Object,
      default: () => {}
    },
    metricData: {
      type: Object,
      default: () => {}
    },
    chartData: {
      type: Array,
      default: () => []
    },
    chartConfig: {
      type: Object,
      default: () => {}
    },
    defaultSelectMetric: {
      type: Array,
      default: () => []
    },
    metricsShown: {
      type: Array,
      default: () => []
    },
    eventsShown: {
      type: Array,
      default: () => []
    },
    eventsList: {
      type: Array,
      default: () => []
    },
    defaultSelectEvents: {
      type: Array,
      default: () => []
    },
    hasChartEvents: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      metricsSelectedIndex: [0, 1],
      chartWkbenchAxes: {},
      metricColors: {},
      metricsSelected: [],
      formattedChartData: {},
      selectedMetric: [],
      selectedEvents: []
    }
  },
  mounted () {},
  created () {},
  computed: {
    metricsList () {
      var data = this.chartData
      let returnArr = []
      for (let i = 0; i < data.length; i++) {
        returnArr.push({
          title: data[i][0],
          key: data[i][0]
        })
      }
      return returnArr.sort((a, b) => {
        if (a.title.toLowerCase() < b.title.toLowerCase()) {
          return -1
        }
        if (a.title.toLowerCase() > b.title.toLowerCase()) {
          return 1
        }
        return 0
      })
    }
  },
  methods: {
    selectNewMetric (context, val) {
      console.log(context, val)
      if (this.metricsSelectedIndex.indexOf(context[0]) === -1) {
        this.metricsSelectedIndex.shift()
        this.metricsSelectedIndex.push(context[0])
        this.chartWkbenchAxes[val[0]] = context[0] % 2 === 0 ? 'y' : 'y2'
        console.log(this.chartWkbenchAxes)
        this.isExpand = false
      }
    },
    metricSelected (context, val) {
      if (this.metricsShown.indexOf(val[0].title) === -1) {
        this.metricsShown.splice(context[0], 1, val[0].title)
        this.selectNewMetric(context, [val[0].title])
        this.isExpand = false
      }
    },
    metricChanged (data) {
      console.log('metricChanged', data)
      this.selectedMetric = data['selectedMetric']
      let metircList = this.selectedMetric.concat(this.selectedEvents)
      this.formatChartData(data['metricColors'], metircList)
    },
    eventsChanged (data) {
      this.selectedEvents = data['selectedMetric']
      let metircList = this.selectedMetric.concat(this.selectedEvents)
      this.formatChartData(data['metricColors'], metircList)
    },
    formatChartData (metricColors, selectedMetric) {
      let axes = {}
      let data = []
      for (let i = 0; i < selectedMetric.length; i++) {
        let metric = selectedMetric[i]
        axes[metric.key] = i % 2 === 0 ? 'y' : 'y2'
        let indexOfMetric = this.chartData.findIndex(item => {
          return item[0] === metric.key
        })
        if (indexOfMetric !== -1) {
          data.push(this.chartData[indexOfMetric])
        }
      }
      let timeseriesIndex = this.chartData.findIndex(item => {
        return item[0] === this.chartConfig.chartOptions.timeseries
      })
      data.push(this.chartData[timeseriesIndex])
      this.formattedChartData = {
        data: data,
        axes: axes,
        colors: metricColors
      }
      console.log(this.formattedChartData)
    }
  },
  mixins: [widgetsUtil]
}
</script>
