<template>
  <div class="u-flex-align-items-center" v-if="show">
    <div :class="[metricClass, splitClass, 'rb-metric']">
      <span
        :value="( data || {}).tag1"
        class="primary_metric u-color-grey-light"
        v-if="!hideActualValue"
        :class="{'u-font-weight-bold': !(config || {}).tableCell && ((data || {}).tag1 || (data || {}).tag2)}"
      >
        <span
          v-if="(!data || (!(data || {}).tag1 && (data || {}).tag1 !== 0 && !(data || {}).tag2 && (data || {}).tag2 !== 0))"
          class
        >NA</span>
        <span v-else>
          <span v-if="data.tag1 <= 9 && data.tag1 > 1 && !(config.tag1Unit || {}).pre && hideZero">0</span>
          {{ data.tag1 | num_format((config.tag1Unit || {}).pre, (config.tag1Unit || {}).suff, (config.tag1Unit || {}).min, (config.tag1Unit || {}).roundoff) }}
        </span>
      </span>
      <div v-if="split" class="u-spacing-mt-s"></div>

      <span
        :value="data.tag2"
        class="secondary_metric"
        v-trend-indicator
        :class="{'u-color-red-base': data.tag2 < 0, 'u-color-green-base': data.tag2 > 0}"
        v-if="(config || {}).invertTag2 !== true && (data || {}).tag2 !== undefined"
      >{{ data.tag2 | num_format((config.tag2Unit || {}).pre, (config.tag2Unit || {}).suff) }}</span>

      <span
        :value="data.tag2"
        class="secondary_metric"
        v-trend-indicator
        :class="{'u-color-red-base': data.tag2 > 0, 'u-color-green-base': data.tag2 < 0}"
        v-if="(config || {}).invertTag2 === true && (data || {}).tag2 !== undefined"
      >{{ data.tag2 | num_format((config.tag2Unit || {}).pre, (config.tag2Unit || {}).suff) }}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'metric',
  props: {
    hideZero: {
      type: Boolean,
      default: true
    },
    config: Object,
    data: Object,
    size: String,
    split: {
      type: Boolean,
      default: false
    },
    hideActualValue: {
      type: Boolean,
      default: false
    }
  },
  watch: {
    data (val) {
      this.show = false
      setTimeout(
        function () {
          this.show = true
        }.bind(this),
        1
      )
    }
  },
  computed: {
    metricClass: function () {
      return 'rb-metric--' + this.size || 's'
    },
    splitClass: function () {
      return this.split === true
        ? 'u-flex-direction-column u-flex-align-items-center u-flex-justify-content-center'
        : ''
    }
  },
  data () {
    return {
      show: true
    }
  },
  components: {}
}
</script>

<style lang="scss">
@import "../../assets/style.css";
.u-font-size-5 {
  font-size: 1.4rem;
}
.u-spacing-pl-s {
  padding-left: 0.8rem;
}
.u-font-size-7 {
  font-size: 1.1rem;
}
.rb-metric {
  display: flex;
  align-items: baseline;
}

.rb-metric--xs {
  align-items: end;

  .primary_metric {
    font-weight: normal;
    @extend .u-font-size-5;
  }
}

.rb-metric--s {
}

.rb-metric--m {
}

.rb-metric--l {
  .primary_metric {
    font-size: 18px;
  }

  .secondary_metric {
    font-size: 13px;
  }
}

.rb-metric--xl {
  .primary_metric {
    font-size: 24px;
  }

  .secondary_metric {
    font-size: 13px;
  }
}

.rb-metric--xxl {
  .primary_metric {
    font-size: 40px;
  }

  .secondary_metric {
    @extend .u-spacing-pl-s;
  }
}
</style>
