<template>
  <button :class="classNameComputed" :style="style" @click="$emit('click')">
    <div class="button_content">
      <ciq-icon class="rb-button__icon rotate" v-if="loading" icon="spinner" />
      <ciq-icon
        :size="leftIconProps.size"
        :className="leftIconProps.className"
        v-if="leftIconProps.icon"
        :isFlipped="leftIconProps.isFlipped"
        :icon="leftIconProps.icon"
      />
      <span v-if="text">{{text}}</span>
      <ciq-icon
        :size="rightIconProps.size"
        :className="rightIconProps.className"
        v-if="rightIconProps.icon"
        :isFlipped="rightIconProps.isFlipped"
        :icon="rightIconProps.icon"
      />
    </div>
  </button>
</template>

<script>
export default {
  name: 'ciqButton',
  props: {
    text: String,
    width: {
      type: String,
      default: '100%'
    },
    size: {
      type: String,
      default: 'm'
    },
    className: {
      type: String,
      default: 'rb-button'
    },
    leftIconProps: {
      type: Object,
      default: () => {
        return {}
      }
    },
    rightIconProps: {
      type: Object,
      default: () => {
        return {}
      }
    },
    loading: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    // if size property mentioned it over rides any class supplied to button.
    // deafult size classes present in rb-button component
    classNameComputed: function () {
      if (!this.size) {
        return this.className + ' button'
      } else {
        return 'rb-button__size--' + this.size + ' button'
      }
    },
    style: function () {
      return {
        width: this.$props.width
      }
    }
  },
  methods: {
    // if no icon size modifiers mentioned we auto change icon default size to match buttons.
    determineIconClass (iconClass, iconSize) {
      if (!iconClass && !iconSize && !this.className) {
        if (['l', 'm', 's'].indexOf(this.size) !== -1) {
          return 'rb-icon--' + this.size
        }
      }
    }
  }
}
</script>

<style>
@import "./button.css";
@import "../../assets/style.css";
</style>
