.button_content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
  }
  
  .rb-button__icon {
    display: inline-flex;
  }
  
  .button {
    font-weight: 600;
    cursor: pointer;
    display: inline-flex;
    text-align: center;
    line-height: 1;
    vertical-align: top;
    font-family: inherit;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .rb-button__size--s {
    height: 27px;
    padding: 8px 16px;
  }

  .rb-button__size--m {
    height: 36px;
    padding: 12px 32px;
  }

  .rb-button__size--l {
    height: 41px;
    padding: 14px 40px;
  }
