<template>
  <div>
    <div class="u-display-flex u-flex-direction-row u-spacing-pv-xxs u-width-100">
      <div
        v-for="(item,index) in data"
        :key="index"
        class="u-border-radius-xs u-spacing-ml-xs"
        :style="getStyle(item.amount, index)"
      >
        <div
          class="u-width-100 u-display-flex u-flex-direction-row u-flex-justify-content-flex-end u-flex-align-items-center u-spacing-ph-s"
          :style="`height:${barHeight}`"
          :class="classes"
        >
          <div
            v-if="showBarValue"
            class="u-font-size-6 u-color-grey-white u-font-weight-600 u-text-overflow-ellipsis"
          >{{item.prefix? item.prefix : ''}}{{item.amount}}{{item.suffix? item.suffix : ''}}</div>
          <slot v-bind="item" name="barChartValue"></slot>
        </div>
      </div>
    </div>
    <div>
      <div
        class="u-display-flex u-flex-direction-row u-width-100 u-flex-justify-content-center"
        v-if="showDetails"
      >
        <div
          class="u-display-flex u-flex-direction-row u-flex-justify-content-center u-flex-align-items-center u-spacing-ph-xs"
          style="height:48px"
          v-for="(item, index) in data"
          :key="index"
        >
          <div
            :style="'height:8px; width:8px;background:' + colors[index]"
            class="u-spacing-mh-xs u-border-radius-xs"
          ></div>
          <div class="u-font-size-6 u-color-black u-font-weight-600">{{item.name}}</div>
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="scss">
.increaseHeight {
  transition: height 300ms;
}
</style>
<script>
export default {
  name: 'stackedBarChart',
  props: {
    showDetails: {
      type: Boolean,
      default: true
    },
    data: {
      type: Array,
      default: function () {
        return []
      }
    },
    colors: {
      type: Array,
      default: function () {
        return [
          '#ffa800',
          '#f3c900',
          '#3ea95e',
          '#96CB02',
          '#23b5d3',
          'red',
          'brown',
          'yellow'
        ]
      }
    },
    showBarValue: {
      type: Boolean,
      default: true
    },
    barHeight: {
      type: String,
      default: '48px'
    },
    classes: {
      type: String,
      default: ''
    }
  },
  methods: {
    getStyle (amount, index) {
      let percent = Math.floor((amount / this.sum) * 100)
      let finalStyle =
        'background:' + this.colors[index] + ';width:' + percent + 1 + '%'
      return finalStyle
    }
  },
  computed: {
    sum () {
      let total = 0
      this.data.forEach(elm => {
        if (elm.amount) {
          total += Number(elm.amount)
        }
      })
      return total
    },
    computedHeight () {
      return this.barHeight
    }
  }
}
</script>
