.rb-icon {
    display: inline-flex;
    align-self: center;
    position: relative;
    transition: transform 0.2s ease;
  }
  .rb-icon:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
  }
  
  .rb-icon.is-flipped::before {
    transform: rotate(0.5turn);
  }
  
  .rb-icon--l {
    height: 32px;
    width: 32px;

  }

  .rb-icon--l:before {
    font-size: 32px;
  }
  
  .rb-icon--x-m {
    height: 24px;
    width: 24px;
  }
  .rb-icon--x-m:before {
    font-size: 24px;
  }
  
  .rb-icon--m {
    height: 16px;
    width: 16px;
  }

  .rb-icon--m:before {
    font-size: 16px;
  }
  
  .rb-icon--xx-s {
    height: 8px;
    width: 8px;

  }

  .rb-icon--xx-s:before {
    font-size: 8px;
  }
  
  .rb-icon--x-s {
    height: 10px;
    width: 10px;

  }

  .rb-icon--x-s:before {
    font-size: 10px;
  }
  
  .rb-icon--s {
    height: 12px;
    width: 12px;
  }

  .rb-icon--s:before {
    font-size: 12px;
  }
  
  .rb-icon--x-l {
    height: 40px;
    width: 40px;
  }

  .rb-icon--x-l:before {
    font-size: 40px;
  }
  
  .rb-icon--page-level {
    height: 150px;
    width: 150px;

  }
  
  .rb-icon--page-level:before {
    font-size: 150px;
  }