<template>
  <div class="u-width-100">
    <div class="u-spacing-m-l">
      <div class="u-display-flex">
        <div class="u-width-80 u-spacing-mr-m">
          <div class="u-width-100 card u-spacing-mr-m u-spacing-p-l">
            <div class="u-font-size-3 u-color-grey-lighter u-font-weight-600">CHARTING WORKBENCH</div>
            <chart-with-legends
              :chartData="formattedChartData"
              :chartConfig="chartConfig"
              :metricsShown="config.charting.metricsShown"
              :defaultSelectMetric="config.charting.defaultSelectMetric"
              :metricConfig="config.charting.metricConfig"
              :metricData="config.charting.metricData"
              class="u-spacing-mt-m"
            ></chart-with-legends>
          </div>
          <div class="u-spacing-mt-l">
            <div class="card u-width-100">
              <div class="u-display-flex u-spacing-p-l">
                <span class="u-font-size-3 u-color-grey-lighter u-font-weight-600">TOP MOVERS</span>
                <div style="height: 400px"></div>
              </div>
            </div>
          </div>
          <div class="u-spacing-p-l card u-spacing-mt-m">
            <div class="u-spacing-mv-l">
              <span class="u-font-size-3 u-color-grey-lighter u-font-weight-600">SHARE OF VOICE</span>
            </div>
            <chart-legends
              :metricDisplayList="((config['shareOfVoice'] || {}).data || {}).metricsShown"
              :metricsList="((config['shareOfVoice'] || {}).data || {}).metricsList"
              :defaultSelectMetric="((config['shareOfVoice'] || {}).data || {}).defaultSelectMetric"
              v-on:selectedList="metricChanged"
              :selectedMetricLimit="5"
              :hasPVP="false"
            ></chart-legends>
            <div class="u-spacing-mt-m">
              <div :key="index" v-for="(val,index) in shareOfVoiceData">
                <div
                  class="u-width-100 u-spacing-mt-m"
                  @mouseover="onHover(val, index)"
                  @mouseleave="onHoverLeave(val, index)"
                >
                  <div class="u-width-20 u-font-size-5">{{val.name}}</div>
                  <div class="u-width-100">
                    <stackedBarChart
                      :data="val.data"
                      :showDetails="false"
                      :colors="stackedBarColors"
                      :showBarValue="false"
                      :barHeight="val.height || '12px'"
                      :classes="'increaseHeight'"
                    >
                      <div slot="barChartValue" slot-scope="item">
                        <div
                          class="u-font-size-6 u-color-grey-white u-font-weight-600 u-text-overflow-ellipsis"
                        >{{item.amount}}</div>
                        <div v-if="val.showValue">
                          <metric
                            :size="'m'"
                            class="u-display-inline-flex u-spacing-mt-s"
                            :config="(config['shareOfVoice'].data.metricConfig || {})[item.key]"
                            :data="(config['shareOfVoice'].data.metricData || {})[item.key]"
                            :hideActualValue="false"
                          ></metric>
                        </div>
                      </div>
                    </stackedBarChart>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="latest-feed-holder">
          <div class="card u-height-100">
            <div class="u-display-flex u-spacing-p-l">
              <span class="u-font-size-3 u-color-grey-lighter u-font-weight-600">AUTOMATION SUMMARY</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="scss">
.latest-feed-holder {
  width: 348px;
}
</style>
<script>
import chartLegends from '@/components/basic/chart-legends.vue'
import widgetsConfig from './widget'
import stackedBarChart from '@/components/widgets/stackedBarChart'
import chartWithLegends from '@/components/basic/chart-with-legends.vue'
import metric from '@/components/basic/metric'
export default {
  components: {
    chartLegends,
    stackedBarChart,
    chartWithLegends,
    metric
  },
  props: {},
  data () {
    return {
      config: widgetsConfig.config(),
      shareOfVoiceData: [],
      stackedBarColors: []
    }
  },
  beforeCreate () {
    this.config = widgetsConfig.config()
  },
  computed: {
    formattedChartData () {
      return this.config.charting.chartData.data.data
    },
    chartConfig () {
      return this.config.charting.chart
    }
  },
  created () {},
  methods: {
    metricChanged ({ selectedMetric, metricColors }) {
      this.shareOfVoiceData = []
      let configShareOfVoiceData = this.config['shareOfVoice'].data
        .shareOfVoiceData
      this.stackedBarColors = []
      for (let j = 0; j < configShareOfVoiceData.length; j++) {
        let obj = {
          ...configShareOfVoiceData[j]
        }
        let tempArray = []
        for (let i = 0; i < selectedMetric.length; i++) {
          let currentKey = selectedMetric[i].key
          let indexValue = configShareOfVoiceData[j].data.findIndex(item => {
            return item.key === currentKey
          })
          if (indexValue !== -1) {
            tempArray.push(configShareOfVoiceData[j].data[indexValue])
          }
          this.stackedBarColors.push(metricColors[currentKey])
        }
        obj.data = tempArray
        this.shareOfVoiceData.push(obj)
      }
    },
    onHover (value, index) {
      this.shareOfVoiceData[index].height = '48px'
      this.shareOfVoiceData[index].showValue = true
      if (!this.shareOfVoiceData[index].formatterValue) {
        this.shareOfVoiceData[index].formattedValue = value.amount
      }
      this.shareOfVoiceData = [...this.shareOfVoiceData]
    },
    onHoverLeave (value, index) {
      this.shareOfVoiceData[index].height = '12px'
      this.shareOfVoiceData[index].showValue = false
      this.shareOfVoiceData = [...this.shareOfVoiceData]
    }
  }
}
</script>
