<meta charset="utf-8">
<title>ciq-ui demo</title>
<script src="https://unpkg.com/vue"></script>
<script src="./ciq-ui.js"></script>


<ciq-ui-s-v-p-dashboard></ciq-ui-s-v-p-dashboard>

<ciq-ui-chart-events-legends></ciq-ui-chart-events-legends>

<ciq-ui-chart-legends></ciq-ui-chart-legends>

<ciq-ui-chart-with-legends></ciq-ui-chart-with-legends>

<ciq-ui-chart></ciq-ui-chart>

<ciq-ui-loader></ciq-ui-loader>

<ciq-ui-metric></ciq-ui-metric>

<ciq-ui-button></ciq-ui-button>

<ciq-ui-icon></ciq-ui-icon>

<ciq-ui-stacked-bar-chart></ciq-ui-stacked-bar-chart>

