<template>
  <div class="u-spacing-m-l u-width-100">
    <div class="sku-image-holder u-flex-complete-center card">
      <img :src="data.imgUrl" class="u-spacing-p-s" />
    </div>
    <div class="u-spacing-mt-s">
      <span
        class="u-font-size-4 u-font-weight-600 u-color-grey-base u-line-height-1-3"
      >{{data.name}}</span>
    </div>
    <div class="u-spacing-mt-s">
      <span class="u-font-size-4 u-color-grey-lighter">{{data.asin}}</span>
    </div>
    <div class="u-spacing-mt-m">
      <div>
        <div>
          <span class="u-font-size-4">
            <span class="u-color-grey-lighter">Size:</span>
            <span class="u-color-grey-base">
              33lb
              <span>•</span>
            </span>
          </span>
          <span class="u-font-size-4">
            <span class="u-color-grey-lighter">Pack of:</span>
            <span class="u-color-grey-base">1</span>
          </span>
        </div>
        <div class="u-font-size-7 u-spacing-mt-xs u-color-grey-lighter">
          <span>View 4 other variants</span>
        </div>
      </div>
    </div>
    <div class="u-spacing-mt-m">
      <chips :chips="data.events"></chips>
    </div>
    <div class="u-spacing-mt-m u-display-flex u-flex-complete-center">
      <span class="u-font-size-4 u-color-red-base">{{computedPrice}}</span>
      <span class="dot">•</span>
      <rating-stars :star="data.star" :count="120"></rating-stars>
    </div>
    <div class="u-display-flex">
      <div v-for="(val, index) in data.badges">
        <img :src="'./static/sku-images/'+val+'.png'" class="badges-image"/>
      </div>
    </div>
    <div class="u-spacing-mt-m">
      <list-view :list="data.infoList"></list-view>
    </div>
  </div>
</template>
<style scoped lang="scss">
  .sku-image-holder {
    img {
      height: 300px;
    }
  }
  .dot {
    @extend .u-color-grey-base;
    @extend .u-font-size-3;
    @extend .u-spacing-m-s;
  }
  .badges-image {
    width: 65px
  }
</style>
<script>
import chips from '../basic/chips.vue'
import ratingStars from '../basic/ratingStars.vue'
import listView from '../basic/listView.vue'
import { formatter } from '../../utils/helpers/formatter.js'
export default {
  components: {
    chips,
    'rating-stars': ratingStars,
    'list-view': listView
  },
  props: {
    data: {
      type: Object,
      default: () => { }
    }
  },
  computed: {
    computedPrice () {
      return formatter(this.data.price, 'currency')
    }
  },
  created () {
  }
}
</script>
