<template>
  <div>
    <div class="u-display-flex u-spacing-m-m">
      <div class="sku-info-holder">
        <div class="card u-spacing-mr-m u-height-100">
          <div class="u-display-flex">
            <sku-info :data="computedSkuInfoData"></sku-info>
          </div>
        </div>
      </div>
      <div class="u-flex-1 u-display-flex">
        <div class="card u-width-100 u-height-100">
          <div class="u-spacing-m-l">
            <div class="u-display-flex u-flex-justify-content-space-between">
              <div class="u-font-size-3 u-color-grey-lighter u-font-weight-600">Charting Workbench</div>
              <div class="u-display-flex">
                <span
                  class="u-spacing-ml-s u-display-flex u-flex-align-items-center u-spacing-mr-m"
                >
                  <rb-datepicker
                    :position="'Left'"
                    @change="updatedateSelection"
                    :rangeNames="dateRanges"
                    :minDate="'12/12/1997'"
                    :maxDate="maxDate"
                    :value="maxDate"
                  ></rb-datepicker>
                  <date-range
                    :minDate="'12/12/1997'"
                    :maxDate="maxDate"
                    :localStorageKey="'tempKey'"
                  ></date-range>
                </span>
                <rb-select
                  class="u-spacing-mr-m valueDropdown u-max-width-100"
                  :sendDetails="true"
                  :onClose="templateSelected"
                  :options="templateList"
                >
                  <div
                    class="u-display-flex u-flex-align-items-center u-flex-justify-content-space-between u-color-grey-lighter u-cursor-pointer optionsDropdown"
                    slot="trigger"
                  >
                    <div class="u-display-flex u-flex-direction-column">
                      <span class="u-font-size-5">{{selectedOption.title}}</span>
                    </div>
                    <rb-icon
                      class="rb-icon--medium u-spacing-ml-s u-color-grey-lighter"
                      :icon="'caret-down'"
                    ></rb-icon>
                  </div>
                  <template slot-scope="option" slot="item">
                    <div
                      class="u-display-flex u-flex-align-items-center"
                      :title="option.title"
                    >{{option.title}}</div>
                  </template>
                </rb-select>
                <div class="optionsDropdown u-cursor-pointer">
                  <rb-icon class="rb-icon--medium u-color-grey-lighter" :icon="'download'"></rb-icon>
                </div>
              </div>
            </div>
            <chart-with-legends
              :chartData="formattedChartData"
              :chartConfig="chartConfig"
              :metricsShown="metricsShown"
              :defaultSelectMetric="defaultSelectMetric"
              :metricConfig="metricConfig"
              :metricData="metricData"
              :eventsShown="computedEventsShown"
              :defaultSelectEvents="defaultSelectEvents"
              :hasChartEvents="true"
              class="u-spacing-mt-l"
            ></chart-with-legends>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped lang="scss">
.sku-info-holder {
  width: 348px;
}
.optionsDropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid palette(grey, xxx-light);
  border-radius: 4px;
  padding: 10px 16px;
}
</style>
<script>
import chartWithLegends from '../basic/chart-with-legends.vue'
import skuInfo from './sku-info'
// import cardWidget from '../widgets/cardWidget'
import dateRange from '../widgets/datePicker/DateRangePicker.vue'
import config from './widget'
// import rbDownloadButton from '@/components/widgets/rbDownloadButton'
import demoData from './data'
export default {
  components: {
    chartWithLegends,
    skuInfo,
    dateRange
    // rbDownloadButton
  },
  props: {},
  data () {
    return {
      maxDate: '12/12/2020',
      selectedOption: {
        title: 'Sales View'
      },
      dateRanges: [
        'Last 7 days',
        'Last 30 days',
        'Last 90 days',
        'Last Week',
        'Last Month',
        'Last Quarter'
      ],
      templateList: [
        {
          title: 'Sales View'
        },
        {
          title: 'AMS View'
        },
        {
          title: 'OPS View'
        }
      ],
      demoData: demoData.demoData,
      metricsShown: [
        {
          key: 'Paid sales 1 day'
        },
        {
          key: 'Units 7 days'
        },
        {
          key: 'ACoS 7 days'
        }
      ],
      eventsShown: [
        {
          key: 'campaign',
          icon: 'campaign'
        },
        {
          key: 'content-change',
          icon: 'content-change'
        },
        {
          key: 'add-on',
          icon: 'add-on'
        }
      ],
      defaultSelectEvents: [
        {
          key: 'content-change'
        },
        {
          key: 'campaign'
        }
      ],
      defaultSelectMetric: [
        {
          key: 'Paid sales 1 day'
        },
        {
          key: 'Units 7 days'
        }
      ],
      metricData: {
        'Paid sales 1 day': {
          tag1: 12.469,
          tag2: 7
        },
        'Units 7 days': {
          tag1: 15.469,
          tag2: 7
        },
        'ACoS 7 days': {
          tag1: 11.469,
          tag2: 7
        }
      },
      metricConfig: {
        'Paid sales 1 day': {
          invertTag2: false,
          tag1Unit: {
            pre: 'currency'
          },
          tag2Unit: {
            suff: '%'
          }
        },
        'Units 7 days': {
          invertTag2: false,
          tag1Unit: {
            pre: 'currency'
          },
          tag2Unit: {
            suff: '%'
          }
        },
        'ACoS 7 days': {
          invertTag2: false,
          tag1Unit: {
            pre: 'currency'
          },
          tag2Unit: {
            suff: '%'
          }
        }
      }
    }
  },
  computed: {
    formattedChartData () {
      return config.chartData.data
    },
    chartConfig () {
      return config.config.chart
    },
    skuInfoData () {
      return this.demoData.skuInfoData
    },
    computedSkuInfoData () {
      let returnData = {
        events: []
      }
      let formattedEvents = []
      if (this.skuInfoData && (this.skuInfoData.events || []).length > 0) {
        let events = this.skuInfoData.events
        for (let i = 0; i < events.length; i++) {
          switch (events[i].impact) {
            case 'POSITIVE':
              formattedEvents.push({
                ...events[i],
                class: 'u-bg-color-green-base'
              })
              break
            case 'NEGATIVE':
              formattedEvents.push({
                ...events[i],
                class: 'u-bg-color-red-base'
              })
              break
          }
        }
      }
      returnData = {
        ...this.skuInfoData
      }
      returnData.events = formattedEvents
      return returnData
    },
    computedEventsShown () {
      let returnArr = []
      for (let i = 0; i < this.eventsShown.length; i++) {
        returnArr.push({
          key: this.eventsShown[i].key,
          ...config.config.eventsIconMap[this.eventsShown[i].key]
        })
      }
      console.log(returnArr)
      return returnArr
    }
  },
  methods: {
    templateSelected (event) {
      console.log(event)
    },
    updatedateSelection (event) {
      console.log(event)
    }
  }
}
</script>
